{{define "base"}}
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{.Title}} </title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>{{.Title}}</title>
</head>
<body class="index_css_body">
  {{ template "menu" . }}
  <hr/>
  {{ template "body" . }}
</body>
</html>
{{end}}
